
body {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(217, 54%, 11%);
  }
  
  .Title {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 600;
  }
  
  .container {
    display: inline;
    max-width: 300px;
  }
  
  .centered-image {
    width: 100%;
    border-radius: 12px;
  }
  
  .card {
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.0952917);
    background-color: hsl(216, 50%, 16%);
    color: hsl(215, 51%, 70%);
  }
  
  .attribution {
    color: white;
    font-size: 12px;
    position: fixed;
    bottom: 0;
  }
  
  .Price {
    font-weight: bold;
    color: hsl(178, 100%, 50%);
  }
  
  .Days_Left {
    color: hsl(215, 51%, 70%);
    float: right;
  }
  
  .container p {
    margin: 4;
  }
  
  .clock {
    margin-left: auto;
    margin-right: 0;
  }

  .avatar {
    position: relative;
    padding: 2px;
    width: 35px;
  }

  .Creator{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
   }
   
   .Title:hover {
    color: hsl(178, 100%, 50%);
  }
  
  .Creator_Sentence:hover {
    color: hsl(178, 100%, 50%);
  }

  .image_effect{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: 0.5s;
   background-color: #00FFF8;
   border-radius: 8px;
  }

  .view{
    width: 48px;
    height: 48px;
  }

  @media screen and (min-width: 1440px) {
    body {
      font-size: 15px;
      margin: auto;
      padding-bottom: 12vh;
      padding-top: 12vh;
    }
  }
  
  @media screen and (min-width: 375px) {
    body {
      font-size: 15px;
      margin: auto;
      padding-bottom: 12vh;
      padding-top: 12vh;
    }
  }